body{
    background-color: black;
    /* background-image: url(https://images.squarespace-cdn.com/content/v1/62125959ab8da87f49fb31cb/1680231108755-OUAGK6JP1X3ACHLLY6D0/059_Wedding+at+The+Paseo+venue+in+Apache+Junction%2C+Arizona+only+45+minutes+from+Phoenix..jpg);
    background-size: 1600px 800px ;
    background-repeat: no-repeat;
    background-size: cover; */
}
.p1{
    text-align: center;
    font-size: 40px;
    color: #d1e95b;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #d1e95b;
    color: black;
}
/* Add this CSS to style the dropdown */
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#d1e95b;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #d1e95b;
}

.dropdown:hover .dropdown-content {
    display: block;
}
